.modal {
  font-size: 12px;  
  height: 70vh;
  width: 90vw;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #C1E9E3;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.button {
  height: 35px;
  margin-top: 17px;
  margin-right: 20px;
  margin-left: 4px;
  cursor: pointer;
}

